<div class="chat-head">
  chatroom-name
  <a class="chat-end-btn">チャットを終了する</a>
</div>
<div class="chat-main">
  <%= render partial: 'message', collection: @messages %>
</div>
<div class="chat-bottom">
  <%= form_with model: [@room, @message], class: 'chat-input-area', local: true do |f| %>
    <%= f.text_field :content, class: 'chat-bottom-text', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
    <%= f.submit '送信', class: 'chat-submit-btn' %>
  <% end %>
</div>